<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="my-tasks">
<% @tasks.each do |task| %>
  <%= render task %>
  <% end %>
</div>

<%= link_to "New Task", new_task_path, remote: true, class: "new-task-button" %>
